.cube{
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: flex-start;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    box-shadow: 0 0 20px;
}

body{
    background-color: slategray;

}

.cube:hover{
    width: 160px;
    height: 160px;
}

#secondDice{
    position: relative;
    top: 100px;
}
.btn{
    border: 1px solid black;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.btn:hover{
    cursor:pointer;
    border: 2px solid black;

}
#p1Btn{
    background-color: blue;
    box-shadow: 0 0 3px black;
    color: black;
    position: relative;
    bottom: 160px;
    left: 50px;
}
#p2Btn{
    background-color: yellow;
    box-shadow: 0 0 3px black;
    position: relative;
    left: 520px;
    bottom: 160px;
    color: green;
}
#buttonDiv button{
    margin: 30px;
}

#playerOneScoreBoard{
    width: 250px;
    height: 65px;
    background-color: blue;
    border: 1px solid black;
    box-shadow: 0 0 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: relative;
    left: 150px;
}

#playerTwoScoreBoard{
    width: 250px;
    height: 65px;
    background-color: yellow;
    border: 1px solid black;
    box-shadow: 0 0 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: relative;
    left: 1200px;
    bottom: 68px;
}
#randomNumber1{
    position: relative;
    display: flex;
    text-decoration: none;
    align-self: center;
    right: 55px;
    font-size: 70px;

}
#randomNumber2{
    position: relative;
    display: flex;
    text-decoration: none;
    align-self: center;
    right: 55px;
    font-size: 70px;
}

#displayWinner{
    color: rebeccapurple;
    text-transform: uppercase;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: 630px;

}

p{
    color: chartreuse;
    font-size: 3rem;
}